<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #3284bf;"></span>
		<span class="sg-label">
			$color-brand-ucla-blue <br />
			#3284bf
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffe800;"></span>
		<span class="sg-label">
			$color-brand-ucla-gold <br />
			#ffe800
		</span>
	</li>
</ul>
