<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1e4b87;"></span>
		<span class="sg-label">
            $color-ucla-dark-blue <br />
            #1e4b87
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00a5e5;"></span>
		<span class="sg-label">
			$color-ucla-lite-blue<br />
			#00a5e5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffff00;"></span>
		<span class="sg-label">
			$color-ucla-yellow <br />
			#ffff00
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00ff87;"></span>
		<span class="sg-label">
			$color-ucla-green <br />
			#00ff87
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff00a5;"></span>
		<span class="sg-label">
			$color-ucla-pink<br />
			#ff00a5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8237ff;"></span>
		<span class="sg-label">
			$color-ucla-purple <br />
			#8237ff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00ffff;"></span>
		<span class="sg-label">
			$color-ucla-aqua<br />
			#00ffff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">
			$color-ucla-gray <br />
			#666666
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffb300;"></span>
		<span class="sg-label">
			$color-ucla-gold-classic<br />
			#ffb300
		</span>
	</li>
</ul>
